__pycache__
.idea/workspace.xml
.idea/FARMWISE.iml
.idea/FARMWISE.iml
.idea/misc.xml
.idea/workspace.xml
fidel.env
working_backup.py
main_call_example.py
db_users.py
server.log
test_request.py
user_storage.db
test_call.py
test_call.py
imgw_cds.csv
API_readers/soilgrids/temp_storage/out_soc.tif
API_readers/soilgrids/temp_storage/out_silt.tif
API_readers/soilgrids/temp_storage/out_sand.tif
API_readers/soilgrids/temp_storage/out_phh2o.tif
API_readers/soilgrids/temp_storage/out_ocs.tif
API_readers/soilgrids/temp_storage/out_ocd.tif
API_readers/soilgrids/temp_storage/out_nitrogen.tif
API_readers/soilgrids/temp_storage/out_clay.tif
API_readers/soilgrids/temp_storage/out_cfvo.tif
API_readers/soilgrids/temp_storage/out_cec.tif
API_readers/soilgrids/temp_storage/out_bdod.tif
API_readers/soilgrids/temp_storage/out.tif
API_readers/cds/temp_storage/reanalysis-era5-single-levels_temp_data.nc
API_readers/soilgrids/temp_storage/out.tif
.env
.env.*
!.env.dist